<div class="d-flex justify-content-center align-items-center my-3">
	<div class="btn-group">
		<button class="btn btn-outline-primary d-flex justify-content-center align-items-center">
			<span class="material-symbols-outlined left">expand_less</span>
		</button>
		<button class="btn border">
			5{% comment %} Номер страницы {% endcomment %}
		</button>
		<button class="btn btn-outline-primary d-flex justify-content-center align-items-center">
			<span class="material-symbols-outlined right">expand_less</span>
		</button>
	</div>
</div>
