{% extends "base.html" %}
{% block title %}
	Catalog
{% endblock title %}
{% block localcss %}
	{% load static %}
	<link rel="stylesheet" href="{% static "style/hunter.css" %}">
{% endblock localcss %}
{% block content %}
<div class="container scroll">
	{% for project in project_list %}
		<div class="card row">
			<div class="div_avatar col-3 login">
				<img src="{{project.logo.url}}" alt="" class="avatar">
			</div>
			<div class="text col-6 ">
				<h1>{{ project.author }}: {{ project.name }}</h1>
				<!-- 110 знаков максимум -->
				<p>{{ project.description }}}</p>
			</div>
			<div class="rating col-2">
				<button class="rating_button"> 
						<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
				</button>
			</div>
		</div>
	{% endfor %}
	</div>

{% endblock content %}