{% extends "base.html" %}
{% block title %}
	Catalog
{% endblock title %}
{% block localcss %}
	{% load static %}
	<link rel="stylesheet" href="{% static "style/hunter.css" %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock localcss %}
{% block content %}
<div class="container scroll">
	<div class="row justify-content-center mt-2">
		<div class="filter btn col-lg-1 col-md-2 col-sm-5 mr-1">
			Фильтр
		</div>
		<div class="add_projects btn btn-primary col-lg-2 col-md-3 col-sm-6 m-0">
			Добавить
		</div>
	</div>
	{% for project in project_list %}
		<div class="card row">
			<div class="div_avatar col-3 login">
				<img src="{{project.logo.url}}" alt="" class="avatar">
			</div>
			<div class="text col-6 ">
				<h1>{{ project.get_author_username }}: <a href="">{{ project.name }}</a></h1>
				<!-- 110 знаков максимум -->
				<p>{{ project.description }}}</p>
			</div>
			<div class="rating col-2">
				<button class="btn border rounded rating_button"> 
                <span class="material-symbols-outlined">expand_less</span><br>
                <span>3.4</span>
            </button>
			</div>
		</div>
	{% endfor %}
	</div>
{% include "paginator.html" %}

{% endblock content %}