{% extends "base.html" %}
{% block title %}
	Catalog
{% endblock title %}
{% block localcss %}
	{% load static %}
	<link rel="stylesheet" href="{% static "style/hunter.css" %}">
{% endblock localcss %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="scroll col-12">
		<div class="add col-2 justify-content-center div_button btn btn-primary login">
				<div>
					
				</div>
			</div> 
			<div class="card">
					<div class="div_avatar col-3 login">
						<img src="{% static "image/cv.png" %}" alt="" class="avatar">
					</div>
					<div class="text col-6 ">
						<h1>Название проекта</h1>
						<!-- 110 знаков максимум -->
						<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
					</div>
					<div class="rating col-2">
						<button class="rating_button"> 
								<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
						</button>
					</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
				<div class="card">
						<div class="div_avatar col-3 login">
							<img src="{% static "image/cv.png" %}" alt="" class="avatar">
						</div>
						<div class="text col-6 ">
							<h1>Название проекта</h1>
							<!-- 110 знаков максимум -->
							<p>Описание проектаОписание проектаОписание проектаОписание проектаОписание проектаОписание проекта Описание</p>
						</div>
						<div class="rating col-2">
							<button class="rating_button"> 
									<img src="{% static "image/triangle.png" %}" alt="" class="triangle">
							</button>
						</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}