{% extends "base.html" %}
{% block title %}
  Project create
{% endblock title %}
{% block localcss %}
  {% load static %}
  <link rel="stylesheet" href="{% static "style/hunter.css" %}">
{% endblock localcss %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="tab_tags col-7 mt-3">
      <form action="" method="post">
        {% csrf_token %}
        <ul>
        {% for field in form %}
            <li><p>{{field.errors}}</p><p>{{field.label_tag}}: {{field}}</p></li>
        {% endfor %}
        </ul>
        <input type="submit" value="submit">
  </form>
    </div>
  </div>
</div>
{% endblock content%}