{% extends "base.html" %}
{% block title %}
	Catalog
{% endblock title %}
{% block localcss %}
	{% load static %}
	<link rel="stylesheet" href="{% static "style/hunter.css" %}">
{% endblock localcss %}
{% block content %}
<div class="all">
	<div class="container mt-5">
		<div class="row">
				<div class="logo col-2">
					<p >Логотип:</p>
					<img src="{{project.logo.url}}" alt="">
				</div>
				<div class="name col-10">
						<p>Название:</p>
						<div class="field login">
							<p>{{project.name}}</p>
						</div>
				</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="name col-12">
					<div class="conteiner">
						<div class="row">
							<div class="col-4">
							<p>Теги:</p>
								<div class="tags">
									{% for tag in project.tags.all %}
										<span class="tag">{{tag}}</span>
									{% endfor %}
								</div>
							</div>
							<div class="col-4">
								<p>Необходимые навыки:</p>
								<div class="tags">
									{% for skill in project.skills.all %}
										<span class="tag">{{skill}}</span>
									{% endfor %}
								</div>
							</div>
						<div class="col-4">
								<p>Требуемые направления:</p>
								<div class="tags">
									{% for role in project.roles.all %}
										<span class="tag">{{role}}</span>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="command col-3 field mt-5 text-center m-0">
				<ul class="ps-0">
					<li class = " mt-1">Человек 1</li>
					<li>Человек 2</li>
					<li>Человек 3</li>
				</ul>
			</div>
			<div class="links col-6  mt-5">
				<div class="link_creator field mt-2 text-center">
					<a href="{% url 'profile' pk=project.author.id %}">Ссылка на создателя</a>
				</div>
				<div class="link_accept field mt-4 text-center">
					<a href="#">Ссылка на приглашение</a>
				</div>
			</div>
			<div class="col-3 forum_link field mt-5 login text-center">
				<a href="{% url 'posts' theme=project.forum.id %}" class="nav-link text_a">Тема на форуме</a>
			</div>
		</div>
	</div>

	<div class="description mt-5">
		<div class="container">
			<p>Описание:</p>
			<div class="row">
				<div class="div_text field col-12 tags">
					<p>{{project.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content  %}
