{% extends "base.html" %}
{% load static %}
{% block title %}
Авторизация
{% endblock title %}

{% block localcss %}
<link rel="stylesheet" href="{%static 'style/forum.css'%}">

{% endblock localcss %}

{% block content %}

<h1 class="text-center">Авторизация</h1>
    
<form class="was-validated w-50 m-auto">
	{% csrf_token %}

		
    <div class="form-floating mb-3 mt-3">
        {{ form_u.as_p }}
		{{ form_p.as_p}}
    <div class="d-flex justify-content-between">
        <button type="reset" class="btn btn-danger">Очистить</button>
        <button type="submit" class="btn btn-primary">Далее</button>
    </div>
    
</form>

{% endblock content %}