{% extends "base.html" %}
{% load static %}
{% block title %}
Регистрация
{% endblock title %}

{% block localcss %}
<link rel="stylesheet" href="{%static 'style/forum.css'%}">

{% endblock localcss %}

{% block content %}

<form action="/action_page.php">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" placeholder="Enter email" name="email">
        <label for="email">Email</label>
    </div>
    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        <label for="pwd">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}