:root{
    --forum_first_gradientcolor: transparent;
    --forum_second_gradientcolor: #ccc;
}

.forum{
    background: linear-gradient(0deg, rgba(0,0,0,0),var(--forum_second_gradientcolor));
}

.pos_rel{
    position: relative;
}

.forum_user_profile{
    display: flex;
    align-items: center;
}

.forum_ask a{
    text-decoration: none;
}

.forum_messages > div:first-child, .forum_ask > header:first-child{
    margin:0 0 3rem 0;
}

.forum_messages > div, .forum_ask > header{
    margin: 3rem 0;
}

.forum_messages > div:last-child, .forum_ask > header:last-child{
    margin: 3rem 0 0 0;
}

.forum {
    z-index: 1;
    position: relative;
}