:root{
    --forum_first_gradientcolor: transparent;
    --forum_second_gradientcolor: #ccc;
}

.pos_rel{
    position: relative;
}

.forum_user_profile{
    display: flex;
    align-items: center;
}

.forum_ask a{
    text-decoration: none;
}

.forum_messages > div:first-child, .forum_ask > header:first-child{
    margin:0 0 3rem 0;
}

.forum_messages > div, .forum_ask > header{
    margin: 3rem 0;
}

.forum_messages > div:last-child, .forum_ask > header:last-child{
    margin: 3rem 0 0 0;
}

.forum {
    z-index: 1;
    position: relative;
    border-radius: 10px;
}
.forum_ask{
    height: 100%;
}
.my-3 p{
}
.my-3{
    text-align: top;
}
.font-weight-bold{
    font-weight: 600;
    font-size: 25px;
    word-wrap: break-word;
    word-break: break-all;
}
.button_forum{
    font-size: 14px;
}
.message_button{
    display: flex;
}
