{% extends "base.html" %}
{% load static %}
{% block title %}
	Посты
{% endblock title %}
{% block content %}
	


    <div class="forum p-3">
        <section class="forum_header d-flex justify-content-between pb-3 bg-primary bg-gradient p-3 mb-3 shadow rounded">
            <div class="forum_ask">Вопрос</div>
            <div class="forum_ask_author">Имя того, кто спрашивает</div>
        </section>
        <section class="forum_messages">

            <!-- макет сообщения -->
            <div class="forum_message shadow bg-info bg-gradient">
                <div class="forum_meaaage_text border p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam consequatur officiis, et asperiores quasi, temporibus laudantium rem dolorem quo eum velit odit, repellendus praesentium officia non esse dicta. Delectus nesciunt alias dicta sapiente sint quibusdam magnam! Saepe doloremque quae unde itaque cupiditate maiores eaque facilis aperiam aliquam reprehenderit. Nam unde facilis iste cumque. Aspernatur nostrum odit eum cupiditate esse iste expedita eligendi mollitia labore rem! Quam sunt in ad atque, adipisci eum saepe itaque iusto voluptates ducimus dicta modi, vitae officiis repudiandae nulla excepturi libero non. Veritatis ea eaque, cupiditate cum corrupti obcaecati sunt reiciendis libero quia expedita velit vitae sed et quis laboriosam optio eligendi fugit dignissimos explicabo quaerat repellat quibusdam. Repellat, cumque facere dolore sint aut eligendi perspiciatis blanditiis numquam.
                    <div class="form_message_author">Владелец Сообщения</div>
                </div>
            </div>
            <!-- ------------------------------------------- -->

            <!-- макет сообщения -->
            <div class="forum_message shadow bg-info bg-gradient">
                <div class="forum_meaaage_text border p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam consequatur officiis, et asperiores quasi, temporibus laudantium rem dolorem quo eum velit odit, repellendus praesentium officia non esse dicta. Delectus nesciunt alias dicta sapiente sint quibusdam magnam! Saepe doloremque quae unde itaque cupiditate maiores eaque facilis aperiam aliquam reprehenderit. Nam unde facilis iste cumque. Aspernatur nostrum odit eum cupiditate esse iste expedita eligendi mollitia labore rem! Quam sunt in ad atque, adipisci eum saepe itaque iusto voluptates ducimus dicta modi, vitae officiis repudiandae nulla excepturi libero non. Veritatis ea eaque, cupiditate cum corrupti obcaecati sunt reiciendis libero quia expedita velit vitae sed et quis laboriosam optio eligendi fugit dignissimos explicabo quaerat repellat quibusdam. Repellat, cumque facere dolore sint aut eligendi perspiciatis blanditiis numquam.
                    <div class="form_message_author">Владелец Сообщения</div>
                </div>
            </div>
            <!-- ------------------------------------------- -->

            <!-- макет сообщения -->
            <div class="forum_message shadow bg-info bg-gradient">
                <div class="forum_meaaage_text border p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam consequatur officiis, et asperiores quasi, temporibus laudantium rem dolorem quo eum velit odit, repellendus praesentium officia non esse dicta. Delectus nesciunt alias dicta sapiente sint quibusdam magnam! Saepe doloremque quae unde itaque cupiditate maiores eaque facilis aperiam aliquam reprehenderit. Nam unde facilis iste cumque. Aspernatur nostrum odit eum cupiditate esse iste expedita eligendi mollitia labore rem! Quam sunt in ad atque, adipisci eum saepe itaque iusto voluptates ducimus dicta modi, vitae officiis repudiandae nulla excepturi libero non. Veritatis ea eaque, cupiditate cum corrupti obcaecati sunt reiciendis libero quia expedita velit vitae sed et quis laboriosam optio eligendi fugit dignissimos explicabo quaerat repellat quibusdam. Repellat, cumque facere dolore sint aut eligendi perspiciatis blanditiis numquam.
                    <div class="form_message_author">Владелец Сообщения</div>
                </div>
            </div>
            <!-- ------------------------------------------- -->

        </section>
    </div>

{% endblock content %}