{% extends "base.html" %}
{% load static %}
{% block title %}
Форум
{% endblock title %}

{% block localcss %}
{% comment %} <link rel="stylesheet" href="{%static 'style/style_forum.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{%static 'style/forum.css'%}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% endblock localcss %}

{% block content %}



<div class="forum p-3">

    <section class="forum_asks">

        {% for theme in themes %}
            <!-- макет вопросов форума -->
        <div class="forum_ask shadow bg-info bg-gradient pos_rel">
            {% comment %} заголовок сообщения {% endcomment %}
            <header class="d-flex justify-content-between align-items-center px-3">
                {% comment %} аватарка и ник {% endcomment %}
                <div class="forum_user_profile">
                    <img src="{{theme.author.avatar.url}}">
                    <div class="form_message_author">{{ theme.author.user.username }}</div>
                </div>

                {% comment %} кнопки редактировать и удалить {% endcomment %}
                <div>
                    {% comment %} кнопка редактировать пост {% endcomment %}
                    <button type="button" class="btn btn-primary">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    {% comment %} кнопка удалить пост {% endcomment %}
                    <button type="button" class="btn btn-danger">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
            </header>

            
            {% comment %} текст сообщения {% endcomment %}
            <div class="forum_meaaage_text border pt-3 p-5">
                <div class="mb-2 text-center">{{theme.name}}</div>
                {% comment %} кнопка просмотра обсуждения темы {% endcomment %}
                <div class="forum_meaaage_text p-3">
                    <button type="button" class="btn btn-primary d-flex align-items-center float-end">
                        Открыть
                        <span class="material-symbols-outlined">left_panel_open</span>
                    </button>
                </div>
            </div>

        </div>
        {% endfor %}
        

        
    </section>
</div>

{% endblock content %}