{% extends "base.html" %}
{% load static %}
{% block title %}
Форум
{% endblock title %}

{% block localcss %}
{% comment %} <link rel="stylesheet" href="{%static 'style/style_forum.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{%static 'style/forum.css'%}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% comment %} плюсик {% endcomment %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock localcss %}

{% block content %}

<div class="d-flex justify-content-end align-items-center p-3">
    <button class="btn btn-primary d-flex align-items-center">
        Добавить тему
        <span class="material-symbols-outlined">add</span>
    </button>
</div>

<div class="forum p-3">

    <section class="forum_asks contain-fluid">


        <!-- макет вопросов форума -->
        <div class="forum_ask bg-info bg-gradient">
            {% comment %} заголовок сообщения {% endcomment %}
            <header class="d-flex justify-content-between align-items-center flex-wrap">

                {% comment %} аватарка и ник {% endcomment %}
                <div class="d-flex justify-content-center align-items-center my-3 col-12 col-lg">
                    <img src="{%static 'image/profile.png'%}">
                    <div class="form_message_author">Владелец вопроса</div>
                </div>

                {% comment %} тема {% endcomment %}
                <div class="d-flex justify-content-center align-items-center my-3 forum_meaaage_text col-12 col-lg text-truncate">
                    <div class="text-truncate">Тема</div>
                </div>


                {% comment %} кнопки редактировать и удалить {% endcomment %}
                <div class="d-flex justify-content-center align-items-center my-3 col-12 col-lg">
                    {% comment %} кнопка просмотреть посты {% endcomment %}
                    <button type="button" class="btn btn-primary mx-2">
                        <span class="material-symbols-outlined">left_panel_open</span>
                    </button>
                    {% comment %} кнопка редактировать тему {% endcomment %}
                    <button type="button" class="btn btn-primary mx-2">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    {% comment %} кнопка удалить тему {% endcomment %}
                    <button type="button" class="btn btn-danger mx-2">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
            </header>

        </div>

        
    </section>
</div>

{% endblock content %}