{% extends "base.html" %}
{% load static %}
{% block title %}
Обнавление темы
{% endblock title %}

{% block localcss %}
<link rel="stylesheet" href="{%static 'style/forum.css'%}">

{% comment %} иконка публикации {% endcomment %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% comment %} иконка очистки {% endcomment %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% endblock localcss %}

{% block content %}

<h1 class="text-center mb-1 mt-3">Обновление темы</h1>

<form class="pt-1 p-4" method='post'>
    {% csrf_token %}
    <div class="form-floating mb-3 mt-3">
        {{form.as_p}}
      </div>
    <div class="d-flex justify-content-end ">
        <button type="submit" class="btn btn-primary d-flex align-items-center">
            Опубликовать
            <span class="material-symbols-outlined">publish</span>
        </button>
        </button>
    </div>
</form>

{% endblock content %}