label{
	display: inline-block;
}
.scroll{
	height: auto;
}
.card{
	height: 10em;
	display: block;
	margin-top: 3%;
}
.avatar{
	align-self: center;
}
.div_avatar{
	height: 100%;
	display: inline-flex;
	margin-right: 2em;
}
.text{
	display: inline-block;
	text-align: top;
	height: 100%;
}
.div_button{
	text-decoration: none;
}
.text p{
	margin-bottom: 0px;
	font-size: 16px;
}
.rating{
	display: inline-flex;
	height: 50%;
	flex-direction: row-reverse;
}	
.rating_button{
	position: absolute;
	border: 1px solid gray;
	border-radius: 4px;
	width: 54px;
	height: 66px;
	align-self:center;
	background-color: rgba(28,28,28,0);
}
.triangle{
	width: 60%;
	height: 50%;
	position: relative;
	top: -10%;
}
.add{
	margin-top: 3%;
}
.add_projects{
	background: #094067;
	border-color: #094067;;
}
.filter{
	margin-right: 1em;
}
.cnt{
	bottom: 0px;
	vertical-align: center;
	margin: auto;
	vertical-align: middle;
	left: 0.75em;
}
.cnt p{
	margin-bottom: 0px;
}
.tags p{
	word-wrap: break-word;
    word-break: break-all;
    padding: 4px;
}

.field {
	border-radius: 5px;
	border: 1px solid #90b4ce;

}
.tag{
	border-radius: 5px;
	width: 100%;
	margin: 2px;
	padding-left: 4px;
	padding-right: 10px;
	border-radius: 7px;
	border: 1px solid #90b4ce;
	transition: 0.5s;
}
.tag:hover{
	background:#90b4ce;
	cursor: pointer;
}
.field p{
	word-wrap: break-word;
    word-break: break-all;
    margin-left: 5px;
}
.command ul li{
	list-style-type: none;
}
.forum_link{
	background: #90b4ce;
}
.text_a{
	font-size: 25px;
}
li select{
	overflow: scroll;
	overflow-x:hidden;
}
li select::-webkit-scrollbar{
	background: rgba(0,0,0,0);
	border-radius: 10px 10px;
	width: 5px;
	
}
li select::-webkit-scrollbar-thumb{
	background: gray;
}
.submit_button{
	background: var(--color_2);
}
li{
	list-style-type: none;
}
ul{
	list-type: none;
}
ul li{
	list-style-type: disc;
}
.nav-item{
	list-style-type: none;
}
input{
	border: 0px;
	box-shadow: inset 0px -2px 2px -2px rgba(0,0,0,0.5);
	border-radius: 1px 1px;
}
input#id_avatar{
	box-shadow: none;
}
ul li{
	max-height: 15em;
}
ul li div{

	display: flex;
	flex-wrap: wrap;
	margin: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.font-weight-bold{
    font-weight: 600;
    font-size: 25px;
    word-wrap: break-word;
    word-break: break-all;
}