:root{
    --forum_first_gradientcolor: #000;
    --forum_second_gradientcolor: #000;
}

.forum{
    background-image: linear-gradient(#6b58cd, #1e1743);
}

.forum_meaaage_text{
    position: relative;
}

.form_message_author{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.forum_messages > div:first-child{
    margin:0 0 3rem 0;
}

.forum_messages > div{
    margin: 3rem 0;
}

.forum_messages > div:last-child{
    margin: 3rem 0 0 0;
}